<h2>Registrar usuario</h2>
<form (ngSubmit)="register()">
  <div>
    <label for="r-dni">DNI</label><br />
    <input id="r-dni" name="r-dni" required [(ngModel)]="registerModel.dni" />
  </div>

  <div>
    <label for="r-nombre">Nombre completo</label><br />
    <input id="r-nombre" name="r-nombre" required [(ngModel)]="registerModel.nombreCompleto" />
  </div>

  <div>
    <label for="r-pass">Contraseña</label><br />
    <input id="r-pass" name="r-pass" type="password" required [(ngModel)]="registerModel.password" />
  </div>

  <div>
    <label for="r-rol">Rol</label><br />
    <select id="r-rol" name="r-rol" [(ngModel)]="registerModel.rol">
      <option value="">-- (ninguno) --</option>
      <option value="USER">USER</option>
      <option value="ADMIN">ADMIN</option>
    </select>
  </div>

  <div style="margin-top:8px;">
    <button type="submit">Registrar</button>
  </div>
</form>

<hr />

<h2>Buscar / Editar usuario</h2>

<div>
  <input placeholder="DNI" [(ngModel)]="searchDni" name="searchDni" />
  <button (click)="find()">Buscar</button>
</div>

<div *ngIf="currentUser" style="margin-top:12px;">
  <h3>Datos</h3>
  <div><strong>DNI:</strong> {{ currentUser.dni }}</div>
  <div><strong>Nombre:</strong> {{ currentUser.nombreCompleto }}</div>
  <div *ngIf="currentUser.rol"><strong>Rol:</strong> {{ currentUser.rol }}</div>
  <h4>Editar</h4>
  <form (ngSubmit)="saveEdit()">
    <div>
      <label for="e-nombre">Nombre completo</label><br />
      <input id="e-nombre" name="e-nombre" [(ngModel)]="editModel.nombreCompleto" />
    </div>

    <div>
      <label for="e-pass">Nueva contraseña</label><br />
      <input id="e-pass" name="e-pass" type="password" [(ngModel)]="editModel.password" />
    </div>

    <div>
      <label for="e-rol">Rol</label><br />
      <select id="e-rol" name="e-rol" [(ngModel)]="editModel.rol">
        <option value="">-- (sin cambios) --</option>
        <option value="USER">USER</option>
        <option value="ADMIN">ADMIN</option>
      </select>
    </div>

    <div style="margin-top:8px;">
      <button type="submit">Guardar</button>
      <button type="button" (click)="delete()">Eliminar</button>
    </div>
  </form>
</div>

<div *ngIf="message" style="color:green; margin-top:8px;">{{ message }}</div>
<div *ngIf="error" style="color:darkred; margin-top:8px;">{{ error }}</div>